[config]
TMDB_KEY = bc215d7e813deb103ddacc5b591ab19a
mongo_dbname = inshorts_db
mongo_collection = news_data
dev_DB_URI = mongodb://localhost:27017/
# stage_DB_URI = mongodb+srv://thanos_inshorts:thanos@cluster0.hlbuku7.mongodb.net/?retryWrites=true&w=majority
stage_DB_URI = mongodb+srv://thanos_inshorts2:thanos@cluster0.koz7t.mongodb.net/
